/* navbarre */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    
}
.logonav{
    height: 60px;
    width: 150px;

}
.logo{
    display: flex;
    align-items: center;
    gap: 30px;
}
.buttonnav{
    display: flex;
    align-items: center;
    gap: 30px;
}
a{
    text-decoration: none;
    color: black;
}
.b-nav{
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}
/* content */
.content{
    margin: auto;
    text-align: center;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}
.b_content{
    background-color: rgb(29, 155, 67);
    color: white;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border-color: black;
    border-radius: 15px;
}
h6{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    color: rgb(91, 89, 89);
}
.p_content{
    color: rgb(108, 104, 104);
    padding: 0 320px 0 320px;
}
/* reviews */
.reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 30px;
}
h3{
    margin-block-start: 0em;
    margin-block-end: 0em; 
    color: rgb(90, 90, 90); 
    display: flex;
    justify-content: center;
}
h4{
    margin-block-start: 1.6em;
    margin-block-end: 1.6em;
    color: darkgray;
    font-size: small;
}
.crowd{
    display: flex;
    justify-content: center;
}
/* Sell anywhere */
.media{
   display: flex;
   gap: 30px;
   padding:30px;
   
    
}